---
import MenuLink from "./MenuLink.astro";
import '../styles/menu/menu.css';

const links = [
    { text: "About", path: "about" },
    { text: "Works", path: "works" },
    { text: "Contact", path: "contact" },
    { text: "Bichofilia", path: "bichofilia" }
];
---

<nav class="menu-container" aria-label="Main navigation">
    {links.map(link => (
            <MenuLink text={link.text} path={link.path} />
    ))}
</nav>
