@import url('https://fonts.googleapis.com/css2?family=Kapakana:wght@300..400&family=Noto+Sans+JP:wght@100..900&display=swap');

.kapakana-font {
    font-family: "Kapakana", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}