body {
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about-container {
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    align-items: center;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.about-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    justify-content: center;
    height: 100vh;
}

.about-void-container {
    width: 50%;
}

.about-text {
    color: #8c89b0;
    line-height: 0.75;
    margin: 0;
}

.color-hi { color: #FFFFFF; }
.color-vova { color: #FF00FF; }
.color-santiago { color: #0000FF; }
.color-vovochka { color: #faabeb; }
.color-vladimir { color: #242988; }
.color-quebecois { color: #00FFFF; }
.color-here { color: #FFFF00; }
.color-recent { color: #f8ab93; }
.color-completed { color: #FF0000; }
.color-mixed-media { color: #77b26a; }
.color-two-dimensional { color: #00FF00; }

/* RESPONSIVE STYLES */
/* Mobile */
@media (max-width: 768px) {
    .about-container {
        margin-top: 0.5px;
    }

    .about-text-container {
        width: 100%;
        margin-right: 1rem;
    }

    .about-void-container {
        display: none;
    }

    .about-text {
        font-size: 45px;
        margin: 0 2rem;
    }
}

/* Tablet */
@media (min-width: 769px) and (max-width: 1024px) {
    /*.about-container {*/
    /*    margin-top: 82px;*/
    /*}*/

    .about-text-container {
        width: 50%;
    }

    .about-text {
        font-size: 60px;
    }
}

/* Desktop */
@media (min-width: 1025px) {
    /*.about-container {*/
    /*    margin-top: 82px;*/
    /*}*/

    .about-text-container {
        width: 50%;
    }

    .about-text {
        font-size: 60px;
    }
}