---
import Menu from "../components/Menu.astro";
import '../styles/pages/about.css';
import AboutParagraph from "../components/about/AboutParagraph.astro";
import ColorSpan from "../components/about/ColorSpan.astro";
---

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <title>About - Pinstripe Vova</title>
</head>
<body>
<Menu/>
<div class="about-containers">
    <div class="about-text-container">
        <AboutParagraph>
            <ColorSpan color="hi">Hi,</ColorSpan> My name is <ColorSpan color="vova">VOVA</ColorSpan> <ColorSpan color="santiago">(S. Santiago)</ColorSpan> which is short for <ColorSpan color="vovochka">Vovochka</ColorSpan> -
        </AboutParagraph>

        <AboutParagraph>
            which is a nickname for <ColorSpan color="vladimir">Vladimir</ColorSpan> - which is the name that was lovingly chosen by my parents on a cold & <ColorSpan color="quebecois">Québécois</ColorSpan> winter morning.
        </AboutParagraph>

        <AboutParagraph>
            You will find <ColorSpan color="here">here</ColorSpan> some of my most <ColorSpan color="recent">recent</ColorSpan> <ColorSpan color="completed">(and completed)</ColorSpan> works :
        </AboutParagraph>

        <AboutParagraph>
            a combination of <ColorSpan color="mixed-media">mixed media</ColorSpan> and some <ColorSpan color="two-dimensional">two-dimensional</ColorSpan> pieces too.
        </AboutParagraph>
    </div>
    <div class="void-container"></div>
</div>
</body>
</html>
