---
import Menu from "../components/Menu.astro";
import '../styles/global.css';
import '../styles/pages/contact.css';
---

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <title>Contact - Pinstripe Vova</title>
</head>
<body>
<Menu/>
<div class="background"></div>

<div class="contact-content">
    <p>
        <a class="icon shadowed-text" title="Email">
            <i class="fa-regular fa-envelope"></i>
        </a>
        <a class="icon shadowed-text" title="Instagram" href="https://www.instagram.com/pinstripevova/" target="_blank">
            <i class="fa-brands fa-instagram"></i>
        </a>
    </p>
</div>

<script type="module" src="/scripts/pages/contact.js"></script>
</body>
</html>
