---
import Menu from "../components/Menu.astro";
import '../styles/pages/works.css';
---

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <title>Works - Pinstripe Vova</title>
</head>
<body>
<Menu/>
<div class="works-container">
    <div class="works-art-container">

    </div>
    <div class="works-items-container">

    </div>
</div>
</body>
</html>
